ECSSO/App_WebReferences/CRMLoginWebService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="https://cmw.hisales.hinet.net/ISVAccountAuthenticationService/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="https://cmw.hisales.hinet.net/ISVAccountAuthenticationService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="https://cmw.hisales.hinet.net/ISVAccountAuthenticationService/">
      <s:element name="IsAuthenticated">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userPrincipalName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsAuthenticatedResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsAuthenticatedResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckAuthorizedSvc">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Token" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="OrgDomain" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ServiceId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckAuthorizedSvcResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CheckAuthorizedSvcResult" type="tns:AUTH_SVC_RT" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="AUTH_SVC_RT">
        <s:restriction base="s:string">
          <s:enumeration value="SUCCESS" />
          <s:enumeration value="FAIL_SVC_NOTEXIST" />
          <s:enumeration value="FAIL_ORG_NOTEXIST" />
          <s:enumeration value="FAIL_TOKEN_ERROR" />
          <s:enumeration value="FAIL_OTHER" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="IsAuthenticatedSoapIn">
    <wsdl:part name="parameters" element="tns:IsAuthenticated" />
  </wsdl:message>
  <wsdl:message name="IsAuthenticatedSoapOut">
    <wsdl:part name="parameters" element="tns:IsAuthenticatedResponse" />
  </wsdl:message>
  <wsdl:message name="CheckAuthorizedSvcSoapIn">
    <wsdl:part name="parameters" element="tns:CheckAuthorizedSvc" />
  </wsdl:message>
  <wsdl:message name="CheckAuthorizedSvcSoapOut">
    <wsdl:part name="parameters" element="tns:CheckAuthorizedSvcResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="IsAuthenticated">
      <wsdl:input message="tns:IsAuthenticatedSoapIn" />
      <wsdl:output message="tns:IsAuthenticatedSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckAuthorizedSvc">
      <wsdl:input message="tns:CheckAuthorizedSvcSoapIn" />
      <wsdl:output message="tns:CheckAuthorizedSvcSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IsAuthenticated">
      <soap:operation soapAction="https://cmw.hisales.hinet.net/ISVAccountAuthenticationService/IsAuthenticated" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckAuthorizedSvc">
      <soap:operation soapAction="https://cmw.hisales.hinet.net/ISVAccountAuthenticationService/CheckAuthorizedSvc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IsAuthenticated">
      <soap12:operation soapAction="https://cmw.hisales.hinet.net/ISVAccountAuthenticationService/IsAuthenticated" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckAuthorizedSvc">
      <soap12:operation soapAction="https://cmw.hisales.hinet.net/ISVAccountAuthenticationService/CheckAuthorizedSvc" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="https://cmw.hisales.hinet.net/ISVAccountAuthenticationService/service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="https://cmw.hisales.hinet.net/ISVAccountAuthenticationService/service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>